/* .App {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  background-color: #f0f2f5;
  color: #333333;
} */

.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  background-color: #f0f2f5;
  color: #333333;
}

.form-group {
  /* margin: 10px 0; */
}

.select-group {
  position: relative;
  display: inline-block;
  width: 200px;
  margin: 10px;
  background-color: #333333;
  border-radius: 5px;
}

.select-group label {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 12px;
  color: #888888;
  pointer-events: none;
}

.select-group select {
  width: 100%;
  /* padding: 10px; */
  background-color:  #ffffff;
  color:  #333333;
  border: none;
  /* border-radius: 5px; */
  appearance: none;
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  font-size: 16px;
}

.select-group::after {
  content: '\25BC'; /* Down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  /* color: #ffffff;
   */
   color: #333333;
  pointer-events: none;
}

.form-group {
  /* margin: 10px 0; */
}

select, input[type="datetime-local"], input[type="text"] {
  padding: 10px;
  margin: 5px;
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  margin: 10px 15px;
  background-color: #007acc;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #005fa3;
}

.pro-filters {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 300px;
  background-color: #1e3d41;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-header {
  padding: 20px;
  background-color: #204846;
}

.logo {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto 10px;
}

.card-header h2 {
  margin: 0;
}

.card-body {
  padding: 20px;
}

.card-section {
  margin-bottom: 20px;
}

.card-section h3 {
  margin: 0 0 10px;
}

.card-section p {
  margin: 0;
}


.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row p {
  margin: 0 5px;
}

.big-font {
  font-size: 44px;
  font-weight: bold;
  color: white;
} 



